:root{
    --clr-primary-800: hsl(154, 59%, 51%);
    --clr-primary-700: hsl(0, 100%, 74%);

    --clr-accent-600: hsl(248, 32%, 49%);

    --clr-neutral-500: hsl(249, 10%, 26%);
    --clr-neutral-400: hsl(246, 25%, 77%);
    --clr-neutral-300: hsl(0, 100%, 100%);

    --ff-primary: 'Poppins', sans-serif;
    --fs-primary: 1rem;
    --fs-small: .8rem;
    --fw-700: 700;
    --fw-600: 600;
    --fw-500: 500;
    --fw-400: 400;

    --br-primary: 10px;
}